﻿html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    background: #000000;
    padding: 0px;
    background: url('space.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas {
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

#myCanvas {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
}

#targetCanvas {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: none;
}

#instructions {
     margin: 20px;
}

#login {
    width: 450px;
    height: 300px;
    margin: 50px auto;
    text-align: center;
}

#logo {
    width: 446px;
    height: 420px;
}

#name {
    width: 281px;
    height: 51px;
    background: url('textBoxBg.png') no-repeat top left;
    border: 0px;
    padding: 0px 15px 0px 15px;
    margin: 20px -15px 20px 15px;
    font: 18px 'Segoe Script' , sans-serif;
}

#name:focus {
    border: 0px;
    outline: none;
}

#joinBlueButton {
    width: 307px;
    height: 51px;
    padding: 0px 0px 15px 0px;
    background: url('loginBtn.png') no-repeat center center;
    border: 0px;
    cursor: pointer;
}

#joinRedButton {
    width: 307px;
    height: 51px;
    padding: 0px 0px 15px 0px;
    background: url('loginBtnRed.png') no-repeat center center;
    border: 0px;
    cursor: pointer;
}

#joinButton {
    background: url('loginBtnMOver.png') no-repeat left top;
}